body {
  background: rgb(58,6,58);
}

h1 {
  color: white;
  font-family: "Creepster", cursive;
  font-size: 56px; 
}

.jumbotron {
  background: rgb(58,6,58);
  background: linear-gradient(0deg, rgba(58,6,58,1) 0%, rgba(0,0,0,1) 51%);
}

.instructions {
  font-size: 18px;
  color:gray
}