body {
  background: #3a063a; }

h1 {
  color: white;
  font-family: "Creepster", cursive;
  font-size: 56px; }

.jumbotron {
  background: #3a063a;
  background: linear-gradient(0deg, #3a063a 0%, black 51%); }

.instructions {
  font-size: 24px;
  color: gray;
  font-family: "Rancho", cursive; }

.scary {
  font-family: "Nosifer", cursive; }
